:root{
    --color-dark-blue:#011627;
    --color-mid-blue:#023047;
    --color-light-blue:#a9d6e5;

    --color-dark-red:#720026;
    --color-mid-red:#ce4257;
    --color-light-red:#ffccd5;

    --color-dark-green:#006400;
    --color-light-green:#38b000;

    --color-light:#fdfffc;
    --color-mid:#fdf0d5;
    --color-drak:#080708;
    --color-gray:#4f4f4f;

    
}