
@font-face {
    font-family: "Comfortaa";
    src: url("../../font/Comfortaa.ttf");
  }

@font-face {
    font-family: "playfairBold";
    src: url("../../font/PlayfairDisplay-Bold.ttf");
  }
@font-face {
    font-family: "playfairRegular";
    src: url("../../font/PlayfairDisplay-Regular.ttf");
  }