
@use "variables" as *;

.header {
    width: 100vw;
    height: 115vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}

.container-grid {
    flex: 0 0 70%;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 5rem;
    row-gap: 5rem;
    @media (max-width:$laptops) {
        flex: 1fr;
        grid-template-columns: auto;
        column-gap: 0rem;
        row-gap: 5rem;
    }

}

.container-flex {
    width: 50%;
    display: flex;
    flex-direction: column;
    @media (max-width:$laptops) {
        width: 85%;
       
    }

}

.container-flex-row {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.work {
    padding-top: 10rem;
    // height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    @media (max-width:$laptops) {
        padding-top:15rem;
       
    }
    @media (max-width:$Tablets) {
        padding-top:10rem;
       }
}


.about {
    height: 100vh;
    width: 100vw;
    display: flex;
    padding: 5rem;
    justify-content: center;
    align-items: center;
    transition: all 1s;
   


}

.skillset {
    padding-top: 10rem;
    // height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
}

.contact {
    padding: 10rem;
    width: 100vw;
    // height: 100vh;
    display: flex;
    // justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 1s;
    position: relative;
    @media  (max-width:$Mobile) {
        padding: 10rem 3rem;
      }

}

.footer {
    display: flex;
    justify-content: center;
    text-align: center;

}